<h5>ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos aqui.
</div>

<div *ngIf="cursos.length == 0">
  Não existe cursos a serem mostrados
</div>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>

<div *ngIf="!mostrarCursos">
  Não existe cursos a serem mostrados
</div>

<h5>hidden como alternativa</h5>
<div [hidden]="!mostrarCursos">
  Lista de cursos aqui.
</div>

<div [hidden]="mostrarCursos">
  Não existe cursos a serem mostrados
</div>

<br>

<button (click)="onMostrarCursos()">MOstrar ou esconder curso</button>

